<center>
  <h1>Insert following parameters and find Car price in INR</h1>
  <form method="POST">
    <label> Input boreratio: </label>
    <input name="boreratio"><br>
    <label> Input peakrpm (rev per minute): </label>
    <input name="RPM"><br>
    <label> Is aspiration type turbo? (0-No or 1-Yes): </label>
    <input name="aspi"><br>
    <label> is enginetype dohcv? (0-No or 1-Yes): </label>
    <input name="engdohcv"><br>
    <label> Is number of cylinders six? (0-No or 1-Yes): </label>
    <input name="cyl6"><br>
    <label> Is number of cylinders twelve? (0-No or 1-Yes): </label>
    <input name="cyl12"><br>
    <label> Is brand name Audi? (0-No or 1-Yes): </label>
    <input name="audi"><br>
    <label> Is brand name BMW? (0-No or 1-Yes): </label>
    <input name="bmw"><br>
    <label> Is brand name Buick (0-No or 1-Yes): </label>
    <input name="buick"><br>
    <label> Is brand name Mazda? (0-No or 1-Yes): </label>
    <input name="mazda"><br>
    <label> Is brand name mitsubishi? (0-No or 1-Yes): </label>
    <input name="mistu"><br>
    <label> Is brand name Nissan?: </label>
    <input name="nissan"><br>
    <label> Is brand name Porsche? (0-No or 1-Yes): </label>
    <input name="posc"><br>
    <label> Is brand name Subaru? (0-No or 1-Yes): </label>
    <input name="subru"><br>
    <label> Is brand name Toyota? (0-No or 1-Yes): </label>
    <input name="toyo"><br><br>
    <input type="submit">
  </form>
  <br><br>
  <h1> {{prediction_text}} </h1>

</center>
